.header {
  margin-bottom: 20px;
}

.has-tooltip {
  position: relative;
  display: inline-block;
  color: #000;
  background: yellow;
  cursor: pointer;
}

.has-tooltip:hover {
  color: red;
}

.tooltip {
  position: absolute;
  display: none;
  background: black;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  white-space: nowrap;
  z-index: 100;
}

.tooltip_active {
  display: block;
}
